*{
    margin: 0;
    padding: 0;
}

body {
    width: 100dvw;
    height: auto;
    background: radial-gradient(circle at 30% 20% , rgb(1, 30, 6) , black);
}


header {
    width: 100%;
    display: flex;    

    padding: 30px;

    justify-content: space-around;
    align-items: center;
}

header div #logo {
    height: 140px;
    display: flex;
    align-items: center;
    padding: 1px 25px;
    margin-left: 10px auto;
}

header > nav {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

nav > a {
    padding: 10px;
    text-decoration: none;
    color: aliceblue;
    display: block;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

header nav a:hover {
    background-color: rgb(21, 148, 27);
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
}

main {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main > div {
    display: flex;
    align-items: normal;
    gap: 10px;
    margin: 15px;
}

main > div > img {
    width: 50%;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 10px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 30px;
}


footer{
    width: 100dvw;
    display: flex;
    background-color: rgb(50, 61, 61);
    justify-content: space-between;
    align-items: center;
}

div .especial img {
    max-width: 250px;
}

footer a > img {
    max-width: 250px;
    display: flex;
}

.redes a {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(170, 170, 170);
    text-decoration: none;
    max-width: 70px;
    padding: 5px;
    text-shadow: 1px 1px 5px black;
}
